################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestProject.UnitTests/obj
/TestProject.UnitTests/bin/Debug/net8.0
/.vs
